body {
  background-image: url("/web/19981202230410im_/http://www.google.com/alpha.jpg");
  background-color: #fff;
  margin: 0;
  padding: 0;
}
.center {
  margin: 0 auto;
  text-align: center;
}

.links {
  display: flex;
}
.copyright {
  margin-top: 0;
}

ul {
  margin-top: 0;
  list-style-type: none;
  align-items: top;
  width: 33%;
  background-color: #62b3aa;
}
ul:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul > * {
  background-color: #62b3aa;
}

ul > li > a {
  color: blue;
  background-color: #62b3aa;
}

form {
  width: 90%;
  background-color: #eeeeee;
  padding-bottom: 0.5rem;
}
footer {
  width: 90%;
}
